.carro {
  background-color: '#359A2C';
  border: none;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  height: 80px;
}

